.auth-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background: rgba(34, 34, 34, .2);
    padding: 0 rem(24px);
    .auth-modal {
        position: relative;
        margin: auto;
        max-width: rem(672px);
        width: 100%;
        background: $dark;
        padding: rem(24px) rem(37.5px);
        box-shadow: 0px 4px 9px $shadow;
        border-radius: 10px;
        @include media-breakpoint-up(sm) {
            padding: rem(48px) rem(75px);
        }
        > div {
            max-width: 100%;
            margin: 0 auto;
            @include media-breakpoint-up(lg) {
                max-width: 75%;
            }
            @media (min-width: 1678px) {
                max-width: 100%;
            }
        }
    }
    h3, p {
        font-family: $font-family-base;
        font-style: normal;
        text-align: center;
        color: $white;
    }
    h3 {
        margin-bottom: rem(16px);
        font-weight: bold;
        font-size: rem(18px);
        line-height: rem(26px);
        @include media-breakpoint-up(sm) {
        }
        @media (min-width: 1678px) {
            font-size: rem(24px);
            line-height: rem(34px);
        }
    }
    p {
        margin-bottom: rem(24px);
        font-weight: 500;
        font-size: rem(14px);
        line-height: rem(18px);
        @include media-breakpoint-up(sm) {
            font-size: rem(16px);
            line-height: rem(22px);
        }
        @media (min-width: 1678px) {
            font-size: rem(18px);
            line-height: rem(26px);
        }
    }
    .auth-btn {
        margin-bottom: rem(12px);
        max-width: 100%;
        width: 100%;
        &:not(:first-child) {
            background: $enter-button-light;
            font-weight: 700;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
            max-width: rem(180px);
        }
        @media (min-width: 1678px) {
            max-width: rem(227px);
        }
    }
    .close-modal {
        padding: 0;
        background: transparent;
        border: 0;
        position: absolute;
        top: rem(10px);
        right: rem(14px);
        color: $white;
        cursor: pointer;
        i {
            font-size: 16px;
        }
        @include media-breakpoint-up(sm) {
            top: rem(31.5px);
            right: rem(31.5px);
        }
    }

}
.open-auth-modal {
    padding: 0;
    width: fit-content;
    height: fit-content;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none !important;
}