#block-print-screen {
  background: rgba(0,0,0,0.97);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999999;

  .title-copy {
    text-align: center;
    color: #fff;
    position: relative;
    top: 50%;
  }
}