.card {
  &--checkout-info {
    font-family: $font-family-secondary;

    .title {
      font-size: rem(18px);
      line-height: rem(24px);
    }

    .subtitle {
      font-size: rem(16px);
      line-height: rem(24px);
    }

    .summary {
      font-size: rem(16px);
      line-height: rem(22px);
    }

    .image {
      img {
        border-radius: rem(4px);
        max-width: rem(150px);
      }
    }

    .items {
      border-radius: rem(4px);
      background: #f4f4f4;
    }

    .item {
      padding: rem(20px);
      border-top: 1px solid $border-color;

      &:first-child {
        border-top: 0;
      }

      &__title {
        font-size: rem(16px);
        line-height: rem(18px);
        font-weight: bold;
      }

      &__summary {
        font-weight: 300;
        font-size: rem(14px);
        line-height: rem(18px);
      }

      &__price {
        font-weight: 300;
        font-size: rem(14px);
        line-height: rem(18px);
        font-style: italic;
      }

      &__image {
        img {
          border-radius: rem(4px);
          max-width: rem(120px);
        }
      }
    }

    &.is-fixed {
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      border-radius: 0;
      background: #f4f4f4;
      z-index: 2;
      transition: opacity 300ms;

      .card-body {
        padding: rem(10px) rem(20px);
        font-size: rem(14px);

        .title {
          font-size: rem(16px);
          margin-bottom: 0;
        }

        .h5 {
          font-size: rem(16px);
        }
      }

      &.is-active {
        z-index: 3;
        opacity: 1;
      }
    }
  }
}