.btn-toggle {
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 5rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;

  &:focus {
    outline: none;
  }

  &.active {
    outline: none;
    transition: background-color 0.25s;
    background-color: $canceled;
    >.handle {
      left: 3.6875rem;
      transition: left .25s;
    }
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
  }

  &:before, &:after {
    color: #fff;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }

  &:before {
    content: attr(data-content-inactive);
    left: 2rem;
  }

  &:after {
    content: attr(data-content-active);
    right: 2rem;
    opacity: 0;
  }
  >.handle {
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 1.125rem;
    background: #fff;
    transition: left .25s;
  }
}
