.feather {
  width: 18px;
  height: 18px;
  display: inline-block;
}
.feather-sm {
  width: 14px;
  height: 14px;
  display: inline-block;
}
.feather-lg {
  width: 36px;
  height: 36px;
  display: inline-block;
}
